body {
    font-family: 'Franklin Gothic Medium';
    align-items: center;
    margin: 10px;
    font-size: 2.5rem;
    font-weight: bold;
}

#names {
    padding: 15px;
    width: 300px;
    margin: 10px;
    border-radius: 20px;
    border: solid;
    border-color: rgb(162, 202, 202);
    color: rgb(95, 122, 40);
    font-weight: bold;
    font-size: 1.5rem;
}

#button {
    padding: 15px;
    width: 300px;
    margin: 10px;
    border-radius: 20px;
    border: none;
    color: rgb(44, 14, 162);
    background-color: antiquewhite;
    font-size: 1.5rem;
    font-weight: bold;
}

